{% extends "layout.njk" %}

{% block content %}

    <section class="about">
        <div class="rocket">
        <img src="https://rocketseat.com.br/static/images/logo-rocketseat.svg" alt="">
        </div>

        <h1>Rocketseat</h1>
        <h3>As melhores tecnologias em programação, direto ao ponto e do jeito certo.</h3>
        <p>No meio de tanta informação e da quantidade de ferramentas que surgem todos os dias, você precisa de alguém que te leve na direção certa.</p>

    </section>

    <hr>

    <section class="technologies">
        <h1>Tecnologias utilizadas:</h1>

        <div class="cards">
            <div class="card">
                <img src="https://rocketseat.com.br/static/images/update/curso-javascript.svg" alt="">
                <p>JavaScript</p>
            </div>

        <div class="card">
                <img src="https://rocketseat.com.br/static/images/update/curso-javascript-es6.svg" alt="">
                <p>JavaScript ES6+</p>
            </div>

         <div class="card">
                <img src="https://rocketseat.com.br/static/images/update/curso-nodejs.svg" alt="">
                <p>Node JS</p>
            </div>
        
        <div class="card">
                <img src="https://rocketseat.com.br/static/images/update/curso-reactjs.svg" alt="">
                <p>React JS</p>
            </div>
       
        <div class="card">
                <img src="https://rocketseat.com.br/static/images/update/curso-react-native.svg" alt="">
                <p>React Native</p>
            </div>
        </div>

    </section>

    <hr>

    <footer>
        <div class="socialmedias">
            <a href="https://github.com/Rocketseat" target="_blank">Github</a>
            <a href="https://www.instagram.com/rocketseat_oficial" target="_blank">Instagram</a>
            <a href="https://www.facebook.com/rocketseat/" target="_blank">Facebook</a>
        </div>
    </footer>

{% endblock %}