{% extends "layout.njk" %}

{% block content %}
    <section class="about">
        <div class="rocket">
        <img src="https://rocketseat.com.br/static/images/logo-rocketseat.svg" alt="">
        </div>

        <h1>ERRO 404</h1>

        <p>Não encontramos essa página em nossos servidores.</p>

    </section>
{% endblock%}